.footer {
  background-color: #0a2850;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.footer__content {
  margin: 60px 80px 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social {
}

.footer__social-heading {
  margin: 0 0 20px;
  font-weight: bold;
  line-height: 20px;
  font-size: 16px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin: 16px 0 0;
  line-height: 20px;
}
.footer__list-item_position-right {
  display: flex;
  justify-content: flex-end;
}
.footer__social-link {
  text-decoration: none;
  color: #fff;
}
.footer__social-link:hover {
  color: #c1c1c1;
}
.footer__social-icon {
  background-size: 16px;
  margin: 0 10px 0 0;
}

.footer__circle {
  background-color: #2f80ed;
  width: 340px;
  height: 340px;
  position: absolute;
  top: -128px;
  left: -44px;
  border-radius: 100%;
}
.footer__copyright {
  margin: 108px auto 60px 80px;
  line-height: 20px;
}
