.header {
  background-image: url(../images/background_header.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  box-sizing: border-box;
  position: relative;
}
.header__title {
  margin: 252px auto 0 80px;
  max-width: 709px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
}
.header__span-accent {
  display: flex;
  flex-direction: column;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
  font-weight: normal;
}
.header__description {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 80px;
  max-width: 683px;
  margin-top: 28px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}
.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
}
.header__schedule {
  position: absolute;
  left: 80px;
  bottom: 40px;
}

.header__address {
  margin-top: auto;
  position: absolute;
  right: 80px;
  bottom: 40px;
}
.header__paragraph {
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  color: #838383;
  margin: 0;
}
