.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: inter, arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.header {
  background-color: (ffffff);
  background-image: url(../images/background_header.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
}
.recipes {
}
